In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Read Data

In [2]:
## read data
def readdata(path):
    """
    Read the data and show the basic info
    
    Input: path of the data file
    
    """
    tempcp1=pd.read_csv(path)
    tempcp2=tempcp1.rename(columns={'Unnamed: 0' : 'Index'})
    tempcp3=tempcp2.set_index('Index')
    
    print(tempcp3.shape)
    
    return tempcp3

In [3]:
C1=readdata('RawData/CP345979_img01.csv')
C1.head()

(600, 1300)

,0.000,0.100,0.200,0.300,0.400,0.500,0.600,0.700,0.800,0.900,...,129.000,129.100,129.200,129.300,129.400,129.500,129.600,129.700,129.800,129.900
Index,,,,,,,,,,,,,,,,,,,,,
5.99,91.948591,75.672845,68.943501,81.062738,88.010182,90.844453,116.626127,90.365319,87.056101,74.710887,...,64.404095,27.622592,24.546405,-20.678072,61.295459,-39.666003,34.385840,3.492833,8.342810,92.040711
5.98,92.945252,69.670633,69.941432,87.061066,84.008689,91.843140,106.624840,90.364140,87.054978,71.709809,...,74.407597,35.625361,17.550386,-14.674667,71.298822,-25.662795,43.389081,2.496108,24.345745,87.040988
5.97,89.941915,70.668420,73.939362,86.059393,88.007195,92.841827,106.623552,94.362960,86.053855,69.708731,...,88.411100,37.628130,9.554368,-21.671261,73.302186,-29.659587,24.392322,-3.500619,21.348687,86.041265
5.96,93.938579,69.666206,78.937293,81.057719,92.005701,92.840514,114.622265,95.361780,83.052732,72.707653,...,97.414605,36.630897,14.558348,-9.667855,76.305549,-28.656379,35.395563,6.502653,15.351636,88.041539
5.95,89.935246,70.663991,75.935222,77.056045,91.004207,89.839200,116.620977,87.360600,79.051608,76.706575,...,115.418111,42.633662,21.562329,4.335552,75.308913,-25.653171,40.398804,-0.494076,8.354592,87.041813

In [4]:
C2=readdata('RawData/CP345980_img01.csv')
C2.head()

(600, 1300)

,0.000,0.100,0.200,0.300,0.400,0.500,0.600,0.700,0.800,0.900,...,129.000,129.100,129.200,129.300,129.400,129.500,129.600,129.700,129.800,129.900
Index,,,,,,,,,,,,,,,,,,,,,
5.99,270.440183,262.868602,245.145643,294.342367,246.483121,306.608342,280.728052,295.886511,257.071709,301.604714,...,789.039775,801.579312,754.870067,724.130422,634.747046,653.108722,635.581732,740.468523,784.044910,1398.205520
5.98,267.439327,263.868085,249.145228,295.342113,246.482898,301.608145,281.727834,295.886219,255.071265,295.603351,...,816.047048,818.579116,766.878652,728.137341,655.754806,658.116358,632.589037,748.475384,808.050889,1427.205592
5.97,255.438471,253.867568,250.144812,294.341859,257.482674,298.607948,280.727616,293.885927,266.070822,296.601989,...,818.054331,837.578914,781.887232,727.144260,660.762566,662.123993,615.596344,753.482242,804.056883,1447.205663
5.96,260.437616,254.867050,246.144396,295.341605,262.482451,291.607751,277.727398,300.885635,270.070380,294.600629,...,836.061625,847.578706,803.895807,756.151180,670.770325,682.131629,620.603653,756.489098,814.062890,1478.205734
5.95,272.436761,256.866532,240.143980,288.341350,251.482228,284.607554,275.727180,308.885343,278.069939,282.599271,...,833.068929,862.578492,819.904378,771.158102,689.778083,686.139264,629.610963,743.495952,824.068912,1506.205805

In [5]:
M1=readdata('RawData/CPMIX1.csv')
M1.head()

(600, 1300)

,0.000,0.100,0.200,0.300,0.400,0.500,0.600,0.700,0.800,0.900,...,129.000,129.100,129.200,129.300,129.400,129.500,129.600,129.700,129.800,129.900
Index,,,,,,,,,,,,,,,,,,,,,
5.99,338.112334,285.489022,272.717388,293.211469,312.624173,303.032430,303.659332,310.326643,307.064853,278.795079,...,931.565598,755.276396,934.683266,973.167776,1024.944142,1055.020465,1144.084418,931.174831,1100.461163,758.984679
5.98,343.111799,289.488440,273.717016,285.210394,318.623761,297.031464,301.658251,320.325484,303.063583,278.793918,...,949.576124,743.287010,922.693595,967.173869,1020.954946,1058.029174,1140.092029,937.180748,1086.466137,768.984719
5.97,339.111264,290.487858,272.716645,278.209318,318.623350,293.030498,307.657170,321.324326,297.062314,280.792757,...,956.586649,725.297623,925.703931,983.179959,1024.965749,1055.037885,1123.099643,931.186664,1066.471122,776.984759
5.96,337.110730,292.487275,279.716275,288.208242,320.622939,291.029534,308.656090,316.323168,297.061045,285.791596,...,937.597174,708.308234,910.714275,994.186046,1037.976550,1047.046599,1114.107260,924.192580,1030.476120,797.984798
5.95,345.110197,293.486692,284.715905,297.207166,317.622527,295.028569,312.655009,311.322010,302.059775,290.790434,...,935.607699,722.318843,902.724626,977.192130,1040.987350,1019.055315,1114.114881,921.198495,1016.481130,815.984837

In [40]:
M2=readdata('RawData/CPMIX2.csv')
M2.head()

(600, 1300)

,0.000,0.100,0.200,0.300,0.400,0.500,0.600,0.700,0.800,0.900,...,129.000,129.100,129.200,129.300,129.400,129.500,129.600,129.700,129.800,129.900
Index,,,,,,,,,,,,,,,,,,,,,
5.99,303.138483,296.070524,270.437906,289.585493,303.839784,267.334448,295.802364,257.352622,275.966192,265.644598,...,883.055185,794.055185,840.055185,842.055185,985.055185,755.055185,846.055185,636.055185,701.055185,789.123393
5.98,313.138489,298.070512,271.437022,282.585638,303.838864,265.333745,296.801490,262.351662,282.965112,273.643383,...,873.055185,792.055185,854.055185,836.055185,976.055185,768.055185,853.055185,637.055185,694.055185,806.123396
5.97,323.138494,301.070503,281.436137,276.585784,314.837945,262.333043,287.800617,265.350703,290.964031,276.642168,...,861.055185,791.055185,857.055185,824.055185,957.055185,770.055185,859.055185,634.055185,688.055185,825.123400
5.96,322.138499,307.070494,286.435250,270.585930,314.837026,259.332340,291.799744,262.349743,287.962951,279.640954,...,849.055185,797.055185,842.055185,809.055185,969.055185,777.055185,857.055185,636.055185,683.055185,842.123404
5.95,323.138504,316.070488,283.434363,275.586076,306.836107,260.331637,297.798871,253.348784,276.961871,281.639741,...,850.055185,809.055185,839.055185,806.055185,975.055185,754.055185,842.055185,636.055185,685.055185,859.123408

In [41]:
M3=readdata('RawData/CPMIX3.csv')
M3.head()

(600, 1300)

,0.000,0.100,0.200,0.300,0.400,0.500,0.600,0.700,0.800,0.900,...,129.000,129.100,129.200,129.300,129.400,129.500,129.600,129.700,129.800,129.900
Index,,,,,,,,,,,,,,,,,,,,,
5.99,332.800457,312.800457,314.800457,301.800457,357.800456,280.80046,306.800447,300.800494,272.800318,293.800976,...,1298.952319,1268.952319,1379.952319,1341.952319,1305.952319,1167.952319,1155.952319,1079.952319,1259.952319,339.800457
5.98,327.800457,310.800457,313.800457,301.800457,360.800456,276.80046,301.800447,300.800494,267.800318,298.800976,...,1297.952319,1278.952319,1377.952319,1334.952319,1322.952319,1163.952319,1154.952319,1068.952319,1260.952319,346.800457
5.97,327.800457,312.800457,310.800457,301.800457,364.800456,276.80046,303.800447,298.800494,261.800318,297.800976,...,1279.952319,1280.952319,1380.952319,1310.952319,1317.952319,1146.952319,1151.952319,1058.952319,1271.952319,348.800457
5.96,327.800457,310.800457,306.800457,309.800457,361.800456,279.80046,312.800447,306.800494,266.800318,294.800976,...,1265.952319,1277.952319,1394.952319,1302.952319,1311.952319,1158.952319,1157.952319,1051.952319,1282.952319,355.800457
5.95,321.800457,310.800457,304.800457,310.800457,357.800456,276.80046,308.800447,310.800494,265.800318,298.800976,...,1255.952319,1275.952319,1397.952319,1295.952319,1307.952319,1157.952319,1155.952319,1031.952319,1285.952319,360.800457

In [42]:
M2R=readdata('RawData/CPMIX2_Repeat.csv')
M2R.head()

(600, 1300)

,0.000,0.100,0.200,0.300,0.400,0.500,0.600,0.700,0.800,0.900,...,129.000,129.100,129.200,129.300,129.400,129.500,129.600,129.700,129.800,129.900
Index,,,,,,,,,,,,,,,,,,,,,
5.99,273.33747,242.338611,258.334409,235.350075,284.291614,252.644546,268.199427,227.653494,252.113669,251.611281,...,825.799209,1026.799209,982.799209,1132.799209,1142.799209,1178.799209,872.799209,949.799209,987.799209,1465.337723
5.98,264.33747,244.338611,257.334409,233.350077,283.291605,237.643517,270.198651,228.652732,250.112886,249.610405,...,840.799209,1050.799209,997.799209,1118.799209,1140.799209,1167.799209,856.799209,933.799209,978.799209,1487.337723
5.97,257.33747,239.338611,257.334408,234.350079,272.291597,236.642488,264.197876,232.651970,252.112102,245.609530,...,840.799209,1030.799209,982.799209,1113.799209,1120.799209,1184.799209,857.799209,925.799209,987.799209,1502.337723
5.96,255.33747,238.338611,259.334407,232.350081,271.291590,239.641460,264.197100,225.651209,260.111319,247.608655,...,837.799209,1010.799209,980.799209,1115.799209,1114.799209,1184.799209,837.799209,915.799209,971.799209,1523.337723
5.95,252.33747,241.338611,260.334407,233.350083,277.291585,238.640432,262.196323,225.650447,260.110536,257.607780,...,848.799209,1006.799209,989.799209,1108.799209,1116.799209,1173.799209,826.799209,925.799209,964.799209,1549.337723

## Correlation of Matrices

In [58]:
def identify(df):
    """
    Identify the ratio of material1
    """
    C1t=C1.to_numpy()
    C1t2=(C1t-np.mean(C1t))/np.std(C1t)
    
    C2t=C2.to_numpy()
    C2t2=(C2t-np.mean(C2t))/np.std(C2t)
    
    frac=[]   # percentage of material 1
    numcorr=[]  # num

    for i in range(101):
        ex=i/100
        frac.append(ex)
    
        temp=C1t2*ex+C2t2*(1-ex)
        #print(ex, (1-ex))
        temp2=temp.reshape(-1)
    
        tempM=df.to_numpy()
        tempM2=(tempM-np.mean(tempM))/np.std(tempM)
        tempM3=tempM2.reshape(-1)
    
        num=np.corrcoef(temp2,tempM3)[1,0]
        numcorr.append(num)
        
        
    zippedlist=list(zip(frac, numcorr))
                        
    final=pd.DataFrame(zippedlist, columns=['frac','numcorr'])
    
    final2=final.sort_values(by=['numcorr'], ascending=False)
    
    perc=final2.frac.iloc[0]
                        
    return final2, perc

In [59]:
## Mixed 1
final1, perc1=identify(M1)
print(perc1)
final1.head()

0.01

   frac   numcorr
1  0.01  0.917241
0  0.00  0.917196
2  0.02  0.917196
3  0.03  0.917057
4  0.04  0.916820

In [60]:
## Mixed 2
final2, perc2=identify(M2)
print(perc2)
final2.head()

0.02

   frac   numcorr
2  0.02  0.891673
1  0.01  0.891655
3  0.03  0.891601
0  0.00  0.891550
4  0.04  0.891435

In [61]:
## Mixed 3
final3, perc3=identify(M3)
print(perc3)
final3.head()

0.01

   frac   numcorr
1  0.01  0.913917
0  0.00  0.913901
2  0.02  0.913844
3  0.03  0.913677
4  0.04  0.913411

In [62]:
## Mixed 2R
final2R, perc2R=identify(M2R)
print(perc2R)
final2R.head()

0.01

   frac   numcorr
1  0.01  0.940300
0  0.00  0.940255
2  0.02  0.940253
3  0.03  0.940110
4  0.04  0.939866